# This file contains common pin mappings for the bigtreetech lis2dw v1.0
# To use this config, the firmware should be compiled for the
# RP2040 with "USB"
# The micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu btt_lis2dw]
serial: /dev/serial/by-id/usb-Klipper_rp2040_454741505387D8DA-if00

[lis2dw bed]
cs_pin: btt_lis2dw:gpio9
# spi_bus: spi1a
spi_software_sclk_pin: btt_lis2dw:gpio10
spi_software_mosi_pin: btt_lis2dw:gpio11
spi_software_miso_pin: btt_lis2dw:gpio8
axes_map: -y,-x,z

[resonance_tester] #JWD - 06Mar2026 - Moved to BTT lis2dw file for easy comment/uncomment testing
accel_chip_x: lis2dw hotend
accel_chip_y: lis2dw bed
probe_points: 113,106,30  # edit XYZ head position for testing
min_freq: 10
max_freq: 200